.about {
  height: 100%;
  width: 100%;
}
.about {
  text-align: center;
  padding-top: 8em;
}
.about .info h1 {
  font-size: 4em;
}

.about .info p {
  font-size: 2em;
  font-weight: 100;
  padding: 0 5em 0 5em;
}

.stack {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5em;
}

@media screen and (max-width: 1040px) {
  .about .info h1 {
    font-size: 3em;
  }
  
  .about .info p {
    font-size: 1.5em;
  }
}